/* --------------------------------------- */
/* ----- Global Variables ----- */
/* --------------------------------------- */
:root {
    /* ----- font sizes ----- */
    --font-size-small: 18px;
    --font-size-normal: 22px;
    --font-size-medium: 28px;
    --font-size-medium-1: 36px;
    --font-size-large: 55px;
    --font-size-huge: 75px;

    /* ----- colours ----- */
    --primary: rgb(99,49,58);
    --primary-transparent: rgba(99,49,58, 0.9);
    --secondary: rgb(203, 64, 234);
    --text-colour: beige;

    /* ----- padding ----- */
    --padding-small: 10px;
    --padding-normal: 20px;
    --padding-medium: 40px;

    /* ----- container sizes ----- */
    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;
}

/* --------------------------------------- */
/* ----- Fonts ----- */
/* --------------------------------------- */

@font-face {
    font-family: 'Hiromisake';
    font-style: normal;
    font-weight: 1000;
    src: url('./fonts/HIROMISAKE.ttf');
}

/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary);
    color: var(--text-colour);
    font-family: 'Hiromisake';
}

h1 {
    font-size: var(--font-size-huge);
}

h2 {
    font-size: var(--font-size-large);
}

header {
    position: fixed;
    left: 0;
    right: 0;
    font-size: var(--font-size-normal);
    font-family: ;
    background-color: var(--primary);
}


/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
    
}

.nav {  
    display: flex;
    justify-content: flex-end;
    padding: var(--padding-normal) 0;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: 100px;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: var(--padding-small);
    text-decoration: none;
    color: inherit;
    transition: all 0.5s;
}

.nav__link::after {
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: var(--padding-small);
    background: var(--text-colour);
    transition: all 0.25s;
}

.nav__link:hover {
    color: var(--secondary);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--secondary);
}

/* --------------------------------------- */
/* ----- Title ----- */
/* --------------------------------------- */

.header {
    background: url('./images/coding-ball.jpg');
    height: 80vh;
    background-size:contain;
    background-position: center;
    background-attachment: fixed; 
}

.header__cover {
    background-color: var(--primary-transparent);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.header__text {
    position: absolute;
    top: 30%;
    left: 10%;
}

