/* --------------------------------------- */
/* ----- Global Variables ----- */
/* --------------------------------------- */
:root {
    /* ----- font sizes ----- */
    --font-size-small: 18px;
    --font-size-normal: 22px;
    --font-size-medium: 28px;
    --font-size-medium-1: 36px;
    --font-size-large: 55px;
    --font-size-huge: 75px;

    /* ----- colours ----- */
    --primary: rgb(99,49,58);
    --primary-transparent: rgba(99,49,58, 0.9);
    --secondary: rgb(203, 64, 234);
    --text-colour: beige;

    --border-light: 1px solid beige;

    /* ----- padding ----- */
    --padding-small: 10px;
    --padding-normal: 20px;
    --padding-medium: 40px;
    --padding-huge: 80px;

    /* ----- container sizes ----- */
    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;
}

/* --------------------------------------- */
/* ----- Fonts ----- */
/* --------------------------------------- */

@font-face {
    font-family: 'Hiromisake';
    font-style: normal;
    font-weight: 1000;
    src: url('./fonts/HIROMISAKE.ttf');
}

@font-face {
    font-family: 'CaviarDreams';
    font-style: normal;
    font-weight: 1000;
    src: url('./fonts/CaviarDreams.ttf');
}

/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary);
    color: var(--text-colour);
    font-family: 'CaviarDreams';
    font-size: var(--font-size-normal);
}

h1, h2, h3, header {
    font-family: 'Hiromisake';
}

h1 {
    font-size: var(--font-size-huge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium-1);
}

header {
    position: fixed;
    left: 0;
    right: 0;
    font-size: var(--font-size-normal);
    background: var(--primary);
    z-index: 2;
}

section::after {
    content: '';
    display: block;
    height: 1px;
    background: var(--text-colour);
    margin: var(--padding-huge);
}

img {
    max-width: 100%;
    object-fit: contain;
}

/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    color: var(--secondary);
    transition: all .5s;
    outline: 2px solid transparent;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
}

.link__text::after {
content: '';
display: block;
height: 2px;
width: var(--padding-medium);
background: var(--secondary);
margin: var(--padding-small);
}

.link__text:hover {
    color: var(--secondary);
    transform: scale(1.2);
}

/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.nav {  
    display: flex;
    justify-content: flex-end;
    padding: var(--padding-normal) 0;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: 100px;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: var(--padding-small);
    text-decoration: none;
    color: inherit;
    transition: all 0.5s;
}

.nav__link::after {
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: var(--padding-small);
    background: var(--text-colour);
    transition: all 0.25s;
}

.nav__link:hover {
    color: var(--secondary);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--secondary);
}

/* --------------------------------------- */
/* ----- Title ----- */
/* --------------------------------------- */

.header {
    background: url('./images/coding-ball.jpg');
    height: 80vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed; 
}

.header__cover {
    background-color: var(--primary-transparent);
    overflow: hidden;
    height: 100%;
}

.header__text {
    position: absolute;
    top: 30%;
    left: 10%;
}

/* --------------------------------------- */
/* ----- Final Outcome Section ----- */
/* --------------------------------------- */

.final__box {
    display: flex;
    align-items: center;
}

.final__text {
    flex: 0 0 45%;
    margin-right: var(--padding-medium);
}

.final__repo {
    height: var(--font-size-medium);
    width: var(--font-size-medium);
    margin-left: var(--padding-small);
    transition: all .3s;
}

.final__repo:hover {
    transform: scale(1.3);
}